.Game {
  display: flex;
  flex-direction: column;
  border: var(--test-box);
  min-height: 100dvh;

  /* align-items: center; */
  justify-content: space-between;

  @media (min-width: 1024px) {
    width: 1024px;
    margin: 0 auto;
  }
}

.Game div {
  /* border: var(--test-box); */
}

.header {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  border: var(--test-box);
  text-align: center;

  @media (min-width: 400px) {
    padding-top: 5rem;
    padding-bottom: 3rem;
  }

  @media (min-width: 1024px) {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }
}

.remaining img {
  width: 72px;
  height: 26px;

  @media (min-width: 1024px) {
  }
}

.logotype {
  width: 100%;
  min-height: 3rem;
  background-image: url(./logotype.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  border: var(--test-box);

  @media (min-width: 400px) {
    min-height: 5rem;
    background-size: 60%;
  }

  @media (min-width: 1024px) {
    min-height: 3.5rem;
    background-size: auto;
  }
}

.footer {
  padding: 1.5rem 0;
  border: var(--test-box);

  @media (min-width: 400px) {
    padding: 3rem 0;
  }

  @media (min-width: 1024px) {
    padding: 1.5rem 0;
  }
}

.NewGameButtton {
  width: 100%;
  min-height: 5rem;
  background-image: url(./restart.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
  transition: all 0.2s ease-in-out;

  @media (min-width: 1024px) {
    background-size: 15.5%;
  }
}

.NewGameButtton:hover {
  animation: bounce 0.25s ease-in-out;

  @media (min-width: 1024px) {
    animation: none;
  }
}

.board {
  display: grid;
  grid-template-columns: repeat(7, 2.5rem);
  gap: 0.75rem;
  justify-content: center;

  /* background-image: url(./brickssvg.svg); */
  background-repeat: no-repeat;
  background-position: bottom 1.5rem right 2rem;

  border: var(--test-box);

  @media (min-width: 400px) {
    gap: 0.5rem;
    grid-template-columns: repeat(7, 3.25rem);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(7, 3.85rem);
    background-image: none;
  }
}

.cell {
  width: 2.75rem;
  height: 2.75rem;
  /* background: rgba(var(--dark-light), 1); */
  border: 4px dotted rgba(var(--dark-light), 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: rgba(var(--light), 0.35);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  @media (min-width: 400px) {
    width: 3.25rem;
    height: 3.25rem;
  }

  @media (min-width: 1024px) {
    width: 3.85rem;
    height: 3.85rem;
  }
}

.cell--empty {
  border: 4px dotted rgba(var(--dark-light), 1);
  background: rgba(var(--dark), 1);
  cursor: default;
}

.cell--invalid {
  background: transparent;
  border: none;
}

.cell--selected {
  border-color: transparent;
  background-image: url(./selected-cell.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.cell--possible {
  border-color: rgba(var(--active), 1);
}

.cell:hover {
  animation: bounce 0.35s ease-in-out;

  @media (min-width: 1024px) {
    animation: none;
  }
}

.cell img {
  width: 1.35rem;
  height: 1.35rem;

  @media (min-width: 400px) {
    width: 1.55rem;
    height: 1.55rem;
  }

  @media (min-width: 1024px) {
    width: 2rem;
    height: 2rem;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1); /* Начальный размер */
  }
  30% {
    transform: scale(1.3); /* Увеличение (подпрыгивание) */
  }
  50% {
    transform: scale(0.85); /* Сжатие */
  }
  100% {
    transform: scale(1.1); /* Окончательный размер */
  }
}
